/target/*
**/target/*
*/target/*
*/*/target/*
*/*/*/target/*
*/*/*/*/target/*
.idea/*
*.iml
**.iml
.iml
/*/dependency-reduced-pom.xml
/logs/*
/*/logs/*
/*/*/logs/*
/*/*/*/logs/*
/*/*/*/*/logs/*
pom.xml.releaseBackup
*/pom.xml.releaseBackup
**/pom.xml.releaseBackup
.run/*
*/*/skywalking-agent

.settings/
application-local.yml